body {
  margin: 0;
  font-family: manrope, sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #1C1C1C
}

.image {
  width: 80%;
}

.marketplaces-container {
  display: flex;
  align-items: center;
  margin: 0 10%;
}

.marketplaces-container div {
  flex: 50%;
}

.marketplaces-title {
  color: #EC612F;
  text-align: start;
  font-size: 50px;
}

.people-section {
  background-color:#ddd4d4
}

.profile-picture {
  object-fit: cover;
  width:120px;
  height:120px;
  border-radius: 120px;
  margin-bottom: 6px;
}

.name {
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.profession {
  color: #EC612F;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.person {
  margin: 8px;
  padding: 26px;
  border-radius: 8px;
  background-color: white;
}

.people-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 10%;
}

footer {
  
}
