body {
  text-align: center;
  background-color: white;
}

* {
  font-family: manrope, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #1C1C1C;
}

.title1 {
  font-size: 50px;
}
.title2 {
  font-size: 40px;
}
.title3 {
  font-size: 30px;
}
.title4 {
  font-size: 20px;
}
.title5 {
  font-size: 13px;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

hr {
  width: 80%;
  margin: 20px auto;
  border-top: 1px #d4d4d4 solid;
  border-left: 0;
}

.white-title {
  color: white;
}

/* main title */

#main-title-section {
  background-color: #c44516;
  height: 570px;
}

#main-title-section img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 20%;
}

#main-title-section h1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#main-title {
  max-width: 800px;
  margin: auto;
  padding: 0 10%;
}

/* pillars section */

#pillars-title {
  color:#1C1C1C;
  margin-bottom: 30px;
}

.pillars {
  background-color: #ffffff;
  padding: 40px 20% 50px 20%;
}

.pillars-container {
  padding: 0px 60px;
}

.pillars-container div {
  margin: 20px;
  background-color: #EC612F;
  height: 140px;
  width: 140px;
  padding: 10px;
  border-radius: 10px;
}

.pillars-icon {
  width: 70px;
  height: 70px;
}

.pillars-subtitle {
  font-weight: 600;
}

/* process */

.process-section {
  padding: 40px 10%;
}

#process-icons-section {
  background-color:#EC612F;
}

.process-text h1 {
  max-width: 600px;
  margin: 40px auto 40px auto;
}

.process-icons-container {
  flex-wrap: wrap;
  width: fit-content;
  height: 280px;
  margin: 60px auto;
}

.process-icon-container {
  border: 5px #ffffff dotted;
  width: 80px;
  height: 80px;
  border-radius: 160px;
  padding: 24px;
}

.process-top {
  align-self: flex-start;
}

.process-middle {
  align-self: center;
}

.process-bottom {
  align-self: flex-end;
}

.process-image {
  max-width: 896px;
}

.process-image img {
  width: 100%;
}

.process-arrow {
  align-self: center;
  height: 20px;
  width: 20px;
  margin-right: -12px;
}

.arrow-up {
  transform: rotate(45deg);
}

.arrow-down {
  transform: rotate(135deg);
}

.process-icon {
  object-fit: contain;
  height: 40px;
  width: 40px;
}

/* marketplaces section */

.marketplaces-container {
  padding: 100px 10%;
}

.marketplaces-title-div {
  flex: 40%;
}

.marketplaces-image-div {
  flex: 60%;
}

.marketplaces-container img {
  width: 100%;
}

#marketplaces-title {
  color: #EC612F;
  text-align: start;
}

/* logistics */

#logistics-section {
  padding: 60px 0;
}

.logistic-container {
  justify-content: space-between;
  padding: 16px 10%;
}

.logistic-container div {
  flex: 50%;
}

.logistic1 {
  align-items: flex-start;
  margin-bottom: -190px;
  margin-top: 70px;
}

.logistic2 {
  align-items: flex-end;
  margin-top: -190px;
  margin-bottom: 70px;
}

.logistics-text {
  flex: 45%;
}

#logistics-text1 {
  align-self: flex-start;
  text-align: start;
}

#logistics-text2 {
  align-self: flex-end;
  text-align: end;
}

.logistic1 img {
  flex: 55%;
}

.logistic2 img {
  flex: 55%;
}

.logistic-container img {
  width: 100%;
}

/* team section */

.team-section {
  background-image: url(images/main-title-background1.jpg);
  background-size: cover;
  padding: 30px 0;
  box-shadow: inset 0 0 0 1000px #c44416c9;
}

#team-title {
  margin: 30px 0;
}

.person-picture {
  object-fit: cover;
  width:120px;
  height:120px;
  border-radius: 160px;
  margin-bottom: 6px;
}

.name {
  font-weight: 500;
}

.profession {
  color: #EC612F;
}

.person {
  margin: 10px;
  padding: 26px;
  border-radius: 8px;
  background-color: white;
}

.team-container {
  flex-wrap: wrap;
  margin: 0 10%;
}

/* footer */

footer {
  height: 100px;
  background-color: #1C1C1C;
}

@media (max-width:1075px){
  .process-arrow img {
    display: none;
  }

  .logistic1 {
    margin-bottom: 0;
    margin-top: 70px;
  }

  .logistic2 {
    margin-top: 0;
    margin-bottom: 70px;
  }

  #marketplaces-title {
    text-align: center;
  }

  .marketplaces-container {
    flex-direction: column;
    padding: 0 10%;
  }
}

@media (max-width:780px){
  .title1 {
    font-size: 40px;
  }
  .title2 {
    font-size: 26px;
  }
  .title3 {
    font-size: 22px;
  }
  .title4 {
    font-size: 18px;
  }
  .title5 {
    font-size: 13px;
  }

  #main-title-section {
    height: 300px;
  }

  .logistic-container {
    flex-direction: column;
    align-items: center;
  }

  .logistics-text {
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 38px 0;
  }

  .logistics-text h1 {  
    text-align: center;
  }

  .logistic-container {
    margin: 0;
  }

  .person-picture {
    object-fit: cover;
    width:80px;
    height:80px;
  }
}

@media (max-width:1075px){
  .process-icons-container {
    padding-bottom: 50px;
  }
}
